@import "./transition";
@import "./element-plus";
// @import "./sidebar";
@import "./dark";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;

  /* 常用border-color 需要时可取用 */
  --pure-border-color: rgb(5 5 5 / 6%);

  /* switch关闭状态下的color 需要时可取用 */
  --pure-switch-off-color: #a6a6a6;

  --el-color-primary: #2272f7 !important;

  --el-color-primary-light-3: #468adf !important;

  // --el-input-border-color: #CBCBCB !important;
  --el-input-border-color: #e2e4e8 !important;

  // --el-border-color: #CBCBCB !important;
  --el-border-color: #e2e4e8 !important;

  --el-text-color-regular: #333 !important;

  --el-switch-on-color: #2272f7 !important;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.custom-select-sob {
  width: 450px;

  .el-select-dropdown.is-multiple.custom-select-sob {
    min-width: auto !important;
  }

  .is-checked {
    color: #2272f7;
    font-weight: bold;

    .el-text {
      color: #2272f7;
    }
  }

  .el-tree-virtual-list {
    position: static !important;
    overflow-y: scroll !important;
    will-change: transform !important;
    direction: ltr !important;
    max-height: 200px !important;
    height: auto !important;
  }
}