// .temporary{
// 	--el-color-primary: #3071C3 !important;
// 	--el-color-primary-light-3: #468adf !important;
// 	--el-input-border-color: #CBCBCB !important;
// 	--el-border-color: #CBCBCB !important;
// 	--el-color-primary-light-7: #3071C3 !important;
// 	--el-color-primary-light-9: #F2F8FF !important;
// 	--el-color-primary-dark-2:#3071C3 !important;
// 	padding: 16px !important;
// 	margin-top: 10px !important;
// }
// .select_bottom {
// 	.el-select-dropdown__item.selected {
// 		color: #3071C3 !important;
// 	}
// }

// .confirm-btn {
//   --el-color-primary: #3071C3 !important;
//   --el-color-primary-light-3: #468adf !important;
//   --el-input-border-color: #CBCBCB !important;
//   --el-border-color: #CBCBCB !important;
//   --el-color-primary-light-7: #3071C3 !important;
//   --el-color-primary-light-9: #F2F8FF !important;
//   --el-color-primary-dark-2:#3071C3 !important;
// }
// .custom-checkbox .el-checkbox__input.is-checked .el-checkbox__inner,.custom-checkbox  .el-checkbox__input.is-indeterminate .el-checkbox__inner{
// 	 --el-checkbox-checked-bg-color: #3071C3 !important;
// 	 --el-checkbox-checked-input-border-color: #3071C3 !important;
//  }
//  .custom-datePicker {
	 
// 	 .el-date-picker{
// 		 --el-color-primary: #3071C3 !important;
// 	 }
// 	 .el-date-table td.current:not(.disabled) .el-date-table-cell__text {
// 		--el-datepicker-active-color: #3071C3 !important;
// 	}
// 	.el-date-picker__header-label:hover {
// 	    --el-datepicker-hover-text-color:#3071C3 !important;
// 	}
//  }
//  .custom-checkbox .el-checkbox{
// 	--el-checkbox-input-border-color-hover: #3071C3 !important;
// }
// .custom-checkbox .el-select-dropdown__item.selected{
// 	color: #3071C3 !important;
// }
// .custom-checkbox .select-trigger .el-select__tags {
// 	// max-width: 325px !important;
// 	display: inline-block;
// 	// 解决单个tag文字过长溢出隐藏问题
// 	.el-select__tags-text {
// 		display: inline-block;
// 		max-width: 220px !important;
// 		overflow: hidden;
// 		text-overflow: ellipsis;
// 		white-space: nowrap;
// 	}
// }
// .custom-select .el-select-dropdown__item.selected{
// 	color: #3071C3 !important;
// 	background-color:#F2F8FF !important;
// }
// .custom-selcet .el-select-dropdown__item.selected{
// 	--el-color-primary: #3071C3 !important;
// }
// .custom-time-selcet .el-select-dropdown__item.selected{
// 	 --el-color-primary: #3071C3 !important;
//  }
// .custom-message .el-input__wrapper.is-focus {
// 	box-shadow: 0 0 0 1px #3071C3 inset !important;
// }
#app{
	background-color: #f3f7fb;
}
// .el-dialog {
//   background-color: #f3f7fb !important;
// }
// .temporary{
// 	padding: 10px !important;
// }
// .deail {
// 	padding: 10px !important;
// 	// margin-top: 10px !important;
// }
.el-table {
  margin-bottom: 12px !important;
}
.el-card__body{
	padding: 6px 16px 16px 16px !important;
}
.search-card {
	padding: 8px 16px 8px !important;
}
.search-card1 {
	padding: 8px 16px 0px !important;
}
.content-card {
	// padding: 0px 16px 12px 16px !important;
}
.right-content-card {
	// padding: 16px 16px 12px 16px !important;
}
.el-tabs__header{
	margin:0px  !important;
}

.el-card.is-always-shadow {
	box-shadow: none !important;
}
.el-select__wrapper {
	// box-shadow: none !important;
	// border: 1px solid #cccccc;
}

.el-form-item__label {
	font-weight: unset !important;
}
.el-input__wrapper {
	// box-shadow: none !important;
	// border: 1px solid #cccccc;
}

.el-tabs--card>.el-tabs__header {
	border-bottom: none !important;
	.el-tabs__item {
		border-bottom:1px solid #e4e7ed !important;
	}
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
	font-weight: 600 !important;
}
.start_time {
	margin-right: 0 !important;
}
.time_until {
	// margin-right: 0 !important;
	// margin: 0 10px !important;
}

.el-table td.el-table__cell{
	padding: 0!important;
	height: 36px !important;
}
.el-table th.el-table__cell{
	padding: 0!important;
	height: 38px !important;
}

.el-table .el-table th.el-table__cell{
	padding: 0!important;
	height: 34px !important;
}

.el-table .el-table__row{
	// height: 36px !important;
}
.el-select__tags-text {
	color: #333333 ;
}

.el-form--inline .el-form-item {
  margin-right: 12px !important;
}

.el-card {
  border: none !important;
}

.el-tabs__nav-wrap:after {
	height: 0 !important;
}
.el-form--inline .el-form-item.margin-12 {
	margin-right: 12px !important;
}

// 定制表格操作
.rePart {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// 定制button
.button-custom {
	// width: 64px;
	// height: 27px;
	padding: 0px 12px !important;
}
.el-select__selection{
	flex-wrap:nowrap !important;
}
// 定制select-input
.selectInput-custom {
	border: 1px solid #e2e4e8;
}

.color-button {
	// background-color: #2272f7 !important;
}

.el-pagination.is-background .el-pager li.is-active {
	background-color: #2272f7 !important;
}

.el-tabs {
	--el-tabs-header-height:30px !important;
}


.el-select__selected-item{
	color: #333333 !important;
}

.is-transparent{
	color: #999999 !important;
}


.el-tabs__nav-scroll {
	height: 34px;
	.el-tabs__active-bar {
		bottom: -3px;
	}
}

.el-table th .cell {
	line-height: 18px !important;
	padding:  6px 12px !important;
}

.temporary .el-table td.el-table__cell div {
	color: #666666;
}
.el-table .rowBox td.el-table__cell div{
	color: #333333 !important;
}
.el-table td.el-table__cell div.el-popper.is-dark{
	color: #fff;
}

.el-tabs__item.is-active {
	font-weight: 600 !important;
}

.el-table__empty-text{
	line-height: 30px !important;
	margin-bottom:20px;
	letter-spacing: 1px;
	font-size:14px;
}
.custom-tooltip {
	opacity: 0.95 !important;
	background-color: #feecd4 !important;
	color: #6b3914 !important;
	border: none !important;
}
.custom-tooltip .el-popper__arrow::before {
	background-color: #feecd4 !important;
}
.custom-tooltip[data-popper-placement^=top]>.el-popper__arrow::before{
    border: #feecd4 !important;
}
.danger-msg-error.el-message--error .el-message__closeBtn {
  font-size: 24px !important;
}
.danger-msg-error{
	max-height:500px;
	overflow:auto;
}
